DATABASE_URL="postgresql://user:password@db:5432/database"
DB_USER="user"
DB_PASSWORD="password"
DB_DB="database"
WEBHOOK_SECRET=your_secret_key_hereAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
SMTP_HOST=smtp.ethereal.email
SMTP_USER=anastasia.wolf13@ethereal.email # テスト環境がすぐに動作するように無料アカウント設定済み
SMTP_PASS=SMR6VXBpvZzBeRUmQa # テスト環境がすぐに動作するように無料アカウント設定済み
LOG_LEVEL=info
